Library/
library/
Temp/
temp/
Obj/
obj/
Build/
build/
Builds/
builds/
UserSettings/
usersettings/
MemoryCaptures/
memorycaptures/
Logs/
logs/

**/Assets/AssetStoreTools/
**/assets/assetstoretools/
**/Assets/Plugins/PlasticSCM*/
**/assets/plugins/plasticscm*/

*.private
*.private.meta
*.private.[0-9]*
*.private.[0-9]*.meta

.vs/
.vscode/
.idea/
.gradle/
.consulo/
ExportedObj/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt
crashlytics-build.properties

*.apk
*.aab
*.app
*.unitypackage

~UnityDirMonSyncFile~

**/Assets/AddressableAssetsData/*/*.bin*
**/assets/addressableassetsdata/*/*.bin*

**/Assets/StreamingAssets/aa.meta
**/Assets/StreamingAssets/aa/
**/assets/streamingassets/aa.meta
**/assets/streamingassets/aa/

.DS_Store*
Thumbs.db
Desktop.ini